[Unit]
Description=SimulationWorker
[Service]
ExecStart=/usr/bin/java -jar /opt/simulation-worker/azurevm-1.0-SNAPSHOT.jar
Type=simple
User=root
[Install]
WantedBy=multi-user.target